
  <div class="container">
    <%= simple_form_for @recipe do |f| %>

    <%= f.input :name, label: "Receita", placeholder: "Nome da receita aqui..." %>
    <%= f.input :photo, label: "Foto da receita" %>
    <%#= f.input :photo_cache, as: :hidden %>
    <%#= f.input :quantity, label: "Quantidade" %>
    <%#= f.input :measures, collection: ["ml", "l", "un", "Colher de chá", "Colher de sopa", ""] %>
    <%= f.input :ingredients, label: "Selecione os ingredientes", collection: ["Açúcar", "Açúcar de confeiteiro", "Água", "Amido de milho", "Bicarbonato", "Cacau em pó", "Clara(s)", "Coco seco", "Creme de leite", "Essência de Baunilha", "Farinha de trigo", "Fermento em pó", "Fermento químico em pó", "Fubá", "Gema(s)", "Glucose de milho branca", "Leite", "Leite condensado", "Leite em pó", "Manteiga", "Margarina", "Óleo", "Ovo(s)", "Polvilho azedo", "Sal"] %>
    <%= f.input :description, label: "Como fazer...", placeholder: "Amasse, sove, adicione e assim por diante..." %>
    <%= f.submit "Criar Receita", class: "btn btn-success" %>
    <% end %>
  </div>
