<div class="container">

<%= simple_form_for @recipe do |f| %>
<%= f.input :name, placeholder: "Nome da receita aqui..." %>
<%= f.input :photo %>
<%= f.input :photo_cache, as: :hidden %>
<%#= f.input :quantity %>
<%#= f.input :measures, collection: ["ml", "l", "un", "Colher de chá", "Colher de sopa", ""] %>
<%= f.input :ingredients, collection: ["Açúcar", "Açúcar de confeiteiro", "Água", "Amido de milho", "Bicarbonato", "Cacau em pó", "Clara(s)", "Coco seco", "Creme de leite", "Essência de Baunilha", "Farinha de trigo", "Fermento em pó", "Fermento químico em pó", "Fubá", "Gema(s)", "Glucose de milho branca", "Leite", "Leite condensado", "Leite em pó", "Manteiga", "Margarina", "Óleo", "ovo(s)",] %>
<%= f.input :description, placeholder: "Amasse, sove, adicione e assim por diante..." %>
<%= f.submit class: "btn btn-success" %>
<% end %>
</div>
